/* 页脚与头图透明 */
#footer {
    background: transparent !important;
}

#page-header {
    background: transparent !important;
}

/* 白天模式遮罩透明 */
#footer::before {
    background: rgba(0, 0, 0, 0.2) !important;
}

#page-header::before {
    background: rgba(0, 0, 0, 0.2) !important;
}

/* 夜间模式遮罩透明 */
[data-theme="dark"] #footer::before {
    background: transparent !important;
}

[data-theme="dark"] #page-header::before {
    background: transparent !important;
}

/* 去除导航栏选项中底下的蓝条 */
#nav *::after {
    background-color: transparent !important;
}

/* 导航栏菜单鼠标移入字体放大 */
#nav #site-name:hover,
#nav .menus_item:hover,
#nav #search-button:hover {
    font-size: 28px;
}

/*----------*/
/* 个人信息卡片背景图 */
[data-theme="light"] #aside-content > .card-widget.card-info {
    background-image: url(https://ccjinblog.oss-cn-beijing.aliyuncs.com/blogiamge/20250123182303360.webp);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100%;
}

[data-theme="dark"] #aside-content > .card-widget.card-info {
    background-image: url(https://ccjinblog.oss-cn-beijing.aliyuncs.com/blogiamge/20250123182303360.webp);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100%;
}

/*----------*/
/* 关于页面区块 */
.about_page {
    background: #fafafa;
    border-radius: 20px;
    padding: 12px;
    margin: 5px;
    border: 2px solid #a0a0a0;
}

[data-theme="dark"] .about_page {
    background: #252525;
}

/*----------*/
/* 小冰分类分类磁铁黑夜模式适配 */
.magnet_item {
    margin-right: 5px !important;
}

#catalog_magnet {
    padding: 18px 18px 0 18px !important;
}

@media screen and (max-width: 600px) {
    .magnet_item {
        margin-right: 0px !important;
    }
}

[data-theme="dark"] .magnet_link_context {
    background: #1e1e1e;
    color: antiquewhite;
}

[data-theme="dark"] .magnet_link_context {
    border-radius: 6px;
}

[data-theme="dark"] .magnet_link_context:hover {
    background: var(--text-bg-hover) !important;
    color: #f2f2f2;
    border-radius: 6px;
}

/*----------*/
/*页面样式调节*/
:root {
    --trans-light: rgba(255, 255, 255, 0.88);
    --trans-dark: rgba(25, 25, 25, 0.88);
    --border-style: 1px solid rgb(169, 169, 169);
    --backdrop-filter: blur(5px) saturate(150%);
}

/* 首页文章卡片 */
#recent-posts > .recent-post-item {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border-radius: 25px;
    border: var(--border-style);
}

/* 首页侧栏卡片 */
#aside-content .card-widget {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border-radius: 18px;
    border: var(--border-style);
}

/* 文章页、归档页、普通页面 */
div#post,
div#page,
div#archive {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border: var(--border-style);
    border-radius: 20px;
}

/* 导航栏 */
#page-header.nav-fixed #nav {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: var(--backdrop-filter);
}

[data-theme="dark"] #page-header.nav-fixed #nav {
    background: rgba(0, 0, 0, 0.7) !important;
}

/* 夜间模式遮罩 */
[data-theme="dark"] #recent-posts > .recent-post-item,
[data-theme="dark"] #aside-content .card-widget,
[data-theme="dark"] div#post,
[data-theme="dark"] div#archive,
[data-theme="dark"] div#page {
    background: var(--trans-dark);
}


/* 阅读模式 */
.read-mode #aside-content .card-widget {
    background: rgba(158, 204, 171, 0.5) !important;
}
.read-mode div#post {
    background: rgba(158, 204, 171, 0.5) !important;
}

/* 夜间模式下的阅读模式 */
[data-theme="dark"] .read-mode #aside-content .card-widget {
    background: rgba(25, 25, 25, 0.9) !important;
    color: #ffffff;
}
[data-theme="dark"] .read-mode div#post {
    background: rgba(25, 25, 25, 0.9) !important;
    color: #ffffff;
}

/*----------*/
/*宽屏适配*/
/* 全局宽度 */
.layout {
    max-width: 1300px;
}

/* 侧边卡片栏宽度 */
.aside-content {
    max-width: 318px;
    min-width: 300px;
}

/* 平板尺寸自适应(不启用侧边栏宽度限制) */
@media screen and (max-width: 900px) {
    .aside-content {
        max-width: none !important;
        padding: 0 5px 0 5px;
    }
}

/* 除了首页以外其他页面隐藏卡片，并采用宽屏显示 */
#archive,
#page,
#category,
#tag {
    width: 100%;
}

.page:not(.page.home) .aside-content {
    display: none;
}


